.navigator {
  color: var(--text-dark);
  font-family: var(--font-pixel);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.experience-card {
  background-color: var(--card);
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-radius: 20px;
  color: var(--text);
  box-shadow: 0 4px 10px #00000022;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.experience-card h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  margin: 0;
  color: var(--text-light);
}

.period {
  font-size: 0.8rem;
  color: var(--text-dark);
}

.role {
  font-weight: bold;
  font-size: 0.7rem;
  color: var(--text-light);
  text-transform: uppercase;
  margin: 0;
}

.description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}